# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment and config files
.env
.venv/
env/
venv/
token.txt

# Database and logs
*.db
logs/

# IDE/editor settings
.idea/
.vscode/
